# Application
.idea/
wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/mu-plugins/*/

#Frontend


#Folder Upload
wp-content/upgrade
wp-content/uploads/*
!/wp-content/uploads/.gitkeep

#Style Site

# WordPress
wp-admin/*
wp-includes/*
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
*.sql
# Composer
/vendor

# WP-CLI
wp-cli.local.yml

backup
backups
tmp
.cache
.composer
.ssh
.viminfo
.mysql_history.TMP
.bash_history
.mysql_history.TMP-

